ul.main-nav
  li.main-nav__item
    a.main-nav__link(href='index.html') Home
  li.main-nav__item
    a.main-nav__link(href='reviews.html') Reviews
  li.main-nav__item
    a.main-nav__link(href='news.html') News
  li.main-nav__item
    a.main-nav__link(href='registration.html') Registration
  li.main-nav__item
    a.main-nav__link(href='about.html') About
  li.main-nav__item
    a.main-nav__link(href='uikit.html') Uikit