//- Все примеси в этом файле должны начинаться c имени блока (standard-buttons)

mixin standard-buttons(mods, text = "Standard buttons")

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +standard-buttons('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' standard-buttons_' + modsList[i].trim();
      }
    }

  section.standard-buttons(class=allMods)&attributes(attributes)
    h2.standard-buttons__title= text
