@import 'assets/animations';

.button {
  position: relative;
  padding: .5625rem 2rem;
  font-size: .75rem;
  font-family: 'Lato', sans-serif;

  line-height: .75rem;
  color: #000;
  border-radius: 3px;
  background-color: $color-text-primary;

  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .6px;
  cursor: pointer;

  user-select: none;
  overflow: hidden;

  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }

  &_type_form {
    color: $color-text-primary !important;
    border-width: 0;
    background-color: $fountain-blue;
    box-shadow: 0 2px $fountain-blue--dark;
  }

  &_type_events {
    min-width: 127px;
    padding: .3125rem .875rem;
    font-size: .625rem;
    margin-left: 11px;
    font-weight: 400;
    text-transform: uppercase;
    border-width: 0;
    letter-spacing: .5px;

    @include for-tablet-landscape-down() {
      padding-left: .625rem;
      padding-right: .625rem;
      margin-left: 0;
    }
  }

  // Размеры кнопки
  &_size_sm, // псевдоним для small
  &_size_small {
    padding: .3125rem 1.0625rem;
    font-size: .625rem;
    line-height: .625rem;
    letter-spacing: .5px;
  }

  &_size_lg, // псевдоним для large
  &_size_large {
    padding: 1rem 2.5rem;
    font-size: 1rem;
    letter-spacing: .6px;
  }

  // Цветовые темы кнопки
  &_theme_blue {
    color: $fountain-blue;
    border: 1px solid $fountain-blue;
    box-shadow: 0 2px $fountain-blue--dark;

    &:hover {
      color: $color-text-primary;
      background-color: $fountain-blue;
    }
  }

  &_theme_cinnabar {
    color: $cinnabar;
    border: 1px solid $cinnabar;
    box-shadow: 0 2px $cinnabar--dark;

    &:hover {
      color: $color-text-primary;
      background-color: $cinnabar;
    }
  }

  // Убирает дефолтную обводку кнопки, появляющуся в состоянии active последней
  &_no-outline {
    outline: none;
  }

  // Анимация кнопки
  &_animate {
    transition: background-color, color .5s;
  }

  // Стиль для ripple-эффекта
  &__ripple {
    position: absolute;
    border-radius: 50%;
    opacity: .5;

    background-color: $color-text-primary;
    transform: scale(0);
    animation: ripple .7s ease-out;
  }
}
