// Стили для кнопки

.button {
  padding: 8px 32px;
  font-size: 12px;
  font-family: "Lato Black";

  border-radius: 3px;
  background-color: $white;
  font-weight: 400;

  text-transform: uppercase;
  letter-spacing: .6px;
  cursor: pointer;

  user-select: none;

  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }

  &_size_sm, /* псевдоним для small */
  &_size_small {
    padding: 4px 16px;
    font-size: 10px;
    letter-spacing: .5px;
  }

  &_size_lg, /* псевдоним для large */
  &_size_large {
    padding: 10px 40px;
    font-size: 16px;
    letter-spacing: .6px;
  }

  &_theme_green {
    color: $button-green-color;
    border: 1px solid $button-green-color;
    box-shadow: 0 2px $button-green-shadow-color;

    &:hover {
      color: $white;
      background-color: $button-green-color;
    }
  }

  &_theme_red {
    color: $button-red-color;
    border: 1px solid $button-red-color;
    box-shadow: 0 2px $button-red-shadow-color;

    &:hover {
      color: $white;
      background-color: $button-red-color;
    }
  }

  &_no-outline {
    outline: none;
  }
}
