//- Создает кнопку

mixin button({text = "Button", size = "", theme = "", noOutline = false} = {})

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +button("Текст", "some-mod")

  -
    // список модификаторов
    var modifiers = "";

    if (typeof(size) !== "undefined" && size) {
      modifiers += ` button_size_${size}`;
    }

    if (typeof (theme) !== "undefined" && theme) {
      modifiers += ` button_theme_${theme}`;
    }

    if (noOutline === true) {
      modifiers += ` button_no-outline`;
    }

  button.button(class = modifiers)&attributes(attributes)= text
    block
