// Стили для кнопки

.button {
  padding: 8px 32px;
  font-size: 12px;
  font-family: "Lato Black";

  border-radius: 3px;
  background-color: $white;
  font-weight: 400;

  text-transform: uppercase;
  letter-spacing: .6px;
  cursor: pointer;

  user-select: none;

  &:active {
    box-shadow: none;
    transform: translateY(2px);
  }

  &_size_sm, /* псевдоним для small */
  &_size_small {
    padding: 4px 16px;
    font-size: 10px;
    letter-spacing: .5px;
  }

  &_size_lg, /* псевдоним для large */
  &_size_large {
    padding: 10px 40px;
    font-size: 16px;
    letter-spacing: .6px;
  }

  &_theme_blue {
    color: $fountain-blue;
    border: 1px solid $fountain-blue;
    box-shadow: 0 2px $jungle-green;

    &:hover {
      color: $white;
      background-color: $fountain-blue;
    }
  }

  &_theme_cinnabar {
    color: $cinnabar;
    border: 1px solid $cinnabar;
    box-shadow: 0 2px $thunderbird;

    &:hover {
      color: $white;
      background-color: $cinnabar;
    }
  }

  &_no-outline {
    outline: none;
  }
}
