.elements-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include for-tablet-landscape-down () {
    flex-direction: column;
    justify-content: space-around;
  }

  &__button {
    display: inline-block;
    margin-top: 10px;
  }

  &__arrow-button {
    margin-left: 24px;
  }

  &__slider {
    width: 37%;

    @media (max-width: 500px) {
      width: 100%;
      margin-top: 20px;
    }
  }

  &__stages {
    margin: 0 auto;
  }

  &__button-wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }

  &__chart {
    margin-top: 10px;
  }
}

