.page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font: inherit;

  background-color: #ccc;
  background-image: url('./img/skin.png');
  background-attachment: fixed;

  background-repeat: repeat;
  max-width: 1300px;
  box-shadow: 0 0 10px $black;

  &__header-wrapper {
    margin-bottom: 10px;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex: 1 0 auto;
    flex-wrap: wrap;

    padding: 1rem;
    justify-content: space-between;
    background-color: $color-text-primary;

    &_reviews,
    &_news {
      flex-wrap: nowrap;

      @include for-tablet-landscape-down() {
        flex-direction: column;
      }
    }
  }

  &__reviews,
  &__news {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 1rem;

    @media (max-width: 980px) {
      justify-content: flex-start;
    }

    @include for-tablet-landscape-down() {
      justify-content: space-between;
    }
  }

  &__news {
    @media (max-width: 980px) {
      justify-content: space-around;
    }
  }

  &__event {
    margin-bottom: 1rem;
  }

  &__form {

    &_feedback {
      width: 18rem;
    }

    &_login {
      margin-bottom: 2rem;
      width: 13rem;
    }

    &_reg {
      display: flex;
      width: 75%;
      flex-direction: column;

      @include for-tablet-landscape-down() {
        width: 100%;
      }
    }
  }

  &__feedback-form {
    width: 18rem;
  }

  &__login-form {
    margin-bottom: 2rem;
    width: 13rem;
  }

  &__feedback {
    width: 40%;
  }

  &__textfield {
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 18rem;

    &_reg {
      display: flex;
      width: 100%;

      .text-field {
        width: 80%;
      }
    }
  }

  &__drop-down {
    width: 13rem;
  }

  &__toggle {
    font-family: Lato, Arial, sans-serif;
    color: $gray--darken;
    margin-top: 1rem;

    span {
      margin-right: 1rem;
    }
  }

  &__textarea {
    width: 18rem;
    margin-bottom: 1rem;
  }

  &__form-button {
    max-width: 18rem;
    text-align: right;
    margin-top: 1rem;

    &_reg {
      text-align: left;
    }
  }

  &__calendar {
    align-self: center;
  }

  &__blocks-wrapper {
    display: flex;
    margin-bottom: 1rem;
    align-items: center;
    width: 100%;

    @include for-tablet-landscape-down() {
      flex-direction: column;
      margin-bottom: 3rem;
    }

    &_justify_between {
      justify-content: space-between;
    }

    img {
      width: 48%;
      order: 1;

      @include for-tablet-landscape-down() {
        width: 80%;
        order: 0;
      }

      @include for-phone-only {
        width: 100%;
      }
    }
  }

  &__description {
    width: 48%;
    order: 1;

    @include for-tablet-landscape-down() {
      width: 80%;
      margin-top: 1rem;
    }

    @include for-phone-only {
      width: 100%;
    }

    &_pos_right {
      margin-left: 3rem;

      @include for-tablet-landscape-down() {
        margin-left: 0;
      }
    }
  }

  &__title {

    .title {
      text-align: left;
    }

    &_centered {
      margin-bottom: 1rem;

      .title {
        text-align: center;
      }
    }
  }

  &__pie-chart {
    width: 48%;
    border: 1px solid $gray;
    order: 1;

    @include for-tablet-landscape-down() {
      width: 80%;
      order: 0;
    }

    @include for-phone-only {
      width: 100%;
    }

    &-inner {
      width: 60%;
      margin: auto;
    }
  }

  &__popup-messaging {
    position: fixed;
    bottom: .5rem;
    left: calc(50%);
    transform: translateX(-50%);

    z-index: 20;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;

    &_visible {
      visibility: visible;
      opacity: 1;
      transition: all .5s .5s;
    }
  }
}