@include load-font($src:"./fonts/Lato", $family: "Lato");

@include load-font($src:"./fonts/Lato-Black", $family: "Lato Black");

@include load-font($src:"./fonts/Lato-Light", $family: "Lato Light");

@include load-font($src:"./fonts/SourceSansPro", $family: "Source Sans Pro");

@include load-font($src:"./fonts/SourceSansProLight", $family: "Source Sans Pro Light");

html {
  font-size: 16px;

  @include for-phone-only() {
    font-size: 14px;
  }

}

body {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 60px;
}

.flex-wrapper {
  display: flex;
  justify-content: space-around;
}