@include load-font($src: './fonts/Lato', $family: 'Lato');

@include load-font($src: './fonts/Lato-Black', $family: 'Lato Black');

@include load-font($src: './fonts/Lato-Light', $family: 'Lato Light');

@include load-font($src: './fonts/SourceSansPro', $family: 'Source Sans Pro');

@include load-font($src: './fonts/SourceSansProLight', $family: 'Source Sans Pro Light');

@include load-font($src: './fonts/Andika', $family: 'Andika');

html {
  //height: 100%;
  font-size: 16px;
  font-family: Lato, Arial, sans-serif;

  @include for-phone-only() {
    font-size: 14px;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  justify-content: space-between;
  background-color: $color-text-primary;
}

.page-block {
  margin-bottom: 60px;

  &__stages {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
  }

  &__block-news {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__news {
    margin: {
      right: 1.125rem;
      bottom: 1.125rem;
    }
  }
}

.flex-wrapper {
  display: flex;
  justify-content: space-around;

  @include for-tablet-landscape-down() {
    flex-direction: column;
    align-items: center;

    &__calendar,
    &__messaging {
      margin-bottom: 20px;
    }
  }
}

.left-col {
  width: 80%;
  max-width: 876px;
  box-sizing: border-box;
  align-self: stretch;

  padding: 1rem;
  border: 1px solid $gray;
  border-radius: 3px;

  @include for-tablet-landscape-down() {
    width: 100%;
    margin-bottom: 1rem;
  }
}

.right-col {
  display: flex;
  height: 100%;
  padding: 1rem;
  border: 1px solid $gray;

  border-radius: 3px;
  margin-left: 1rem;
  flex-grow: 1;
  min-width: 310px;

  box-sizing: border-box;
  flex-direction: column;

  @include for-tablet-landscape-down() {
    width: 100%;
    margin-left: 0;
  }
}

.about-location {
  margin-top: 2rem;
  max-width: 90%;
  margin: auto;
}