// Цвета
$white:         #fff;
$grey:          #e5e5e5;
$dark-grey:     #888;
$silver:        #c0c0c0;
$black:         #000;
$color-title:   #4f4f4f; // цвет заголовка
$color-socials: #757575; // цвет социальных иконок

$fountain-blue: #4eb7a8;
$jungle-green:  #28a290;
$cinnabar:      #e75735;
$thunderbird:   #bf3e1f;

$colorsBG: (
  messaging: #f2f2f2,
  messaging-question: #868686,
  messaging-answer: #777
)
