.steps
  .steps__slides
    .steps__slide
      +stages({theme: "cinnabar", stages: 4, completed: 1})
      ul.steps__stages
        li.steps__item 1. Open the chrome extension store
    .steps__slide
      +stages({theme: "cinnabar", stages: 4, completed: 2})
      ul.steps__stages
        li.steps__item 1. Open the chrome extension store
        li.steps__item 2. Enter in the search box "scroll buttons"
    .steps__slide
      +stages({theme: "cinnabar", stages: 4, completed: 3})
      ul.steps__stages
        li.steps__item 1. Open the chrome extension store
        li.steps__item 2. Enter in the search box "scroll buttons"
        li.steps__item 3. Install the extension by clicking on the "Add to Chrome" button
    .steps__slide
      +stages({theme: "cinnabar", stages: 4, completed: 4})
      ul.steps__stages
        li.steps__item 1. Open the chrome extension store
        li.steps__item 2. Enter in the search box "scroll buttons"
        li.steps__item 3. Install the extension by clicking on the "Add to Chrome" button
        li.steps__item 4. Use and enjoy