mixin stages(options)

  //- Принимает:
  //-   stages       {number} - общее количество шагов
  //-   completed    {number} - количество завершенных шагов
  //-   theme        {string} - цветовая тема

  //- Вызов:
        +stages({             - элемент с количеством шагов 5, количеством завершенных шагов 3, голубого цвета
          completed: 3,
          stages: 5,
          theme: "blue",
        })

  -
    // Объект настроек по умолчанию
    var settings = {
      stages: 5,
      completed: 3
    },

    options = options || settings,
    stages = options.stages || settings.stages,
    completed = options.completed || settings.completed,
    theme = options.theme || settings.theme;

    if (!isValidArg(stages)) stages = 5;

    // список модификаторов
    var modifiers = "",
        fullSteps = stages - 1, // общее количество шагов между пунктами (всегда на один меньше количества пунктов)
        completedSteps = completed - 1, // количество пройденных шагов
        incompleteSteps = fullSteps - completedSteps, // количество оставшихся непройденных шагов
        fillPoint = completed, // количество пройденных пунктов
        emptyPoint = stages - completed; // количество оставшихся непройденных пунктов

  //- Провереяет на допустимость переданное значение количества шагов
     Принимает:
      arg {number} - проверяемое число
     Возвращает:
      true | false
  -
    function isValidArg(arg) {
      if (arg < 2 || typeof arg != "number") return false;
      return true;
    }

    if (typeof (theme) !== "undefined" && theme)
      modifiers += ` stages_theme_${theme}`

  .stages(class=modifiers)&attributes(attributes)
    .stages__steps
      - for (var i = 0; i < completedSteps; i++)
          .stages__step.stages__step_completed
      - for (var i = 0; i < incompleteSteps; i++)
          .stages__step.stages__step_incomplete

    .stages__points
      - for (var i = 0; i < stages; i++)
          - if (i < fillPoint)
              .stages__point.stages__point_fill
                span.stages__value.stages__value_fill= i + 1
          - else
              .stages__point.stages__point_empty
                span.stages__value.stages__value_empty= i + 1