.stages {
  position: relative;
  width: 100%;
  height: 5px;

  max-width: 595px;
  min-width: 320px;
  
  &__steps { // контейнер для шагов компонента
    position: absolute;
    right: 1%;
    left: 1%;

    display: flex;
    height: 100%;
    margin: 0 auto;
  }

  &__step_completed,
  &__step_incomplete { // пройденные и непройденные пункты
    flex-grow: 1;
  }

  &__step_incomplete {
    background-color: $gray;
  }

  &__step_completed {
    background-color: $gray--dark;
  }

  // Цветовые темы для шагов
  &_theme_cinnabar &__step_completed {
    background-color: $cinnabar;
  }

  &_theme_blue &__step_completed {
    background-color: $fountain-blue;
  }

  &__point-wrapper { // обертка для пунктов
    width: 1.8125rem; // 29px
    height: 1.8125rem; // 29px
    margin-top: -.75rem; // -12px
  }

  &__point { // пункт компонента
    width: 1.8125rem; // 29px
    height: 1.8125rem; // 29px
    margin-top: -.75rem; // -12px
    border-radius: 50%;
  }

  &__value { // цифровое значение пункта
    display: flex;
    width: 100%;
    height: 100%;
    font-size: .875rem;

    font-family: Lato, Arial, sans-serif;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    letter-spacing: .7px;

    &_fill { // значение для пройденного пункта
      color: $color-text-primary;
    }

    &_empty { // значение для непройденного пункта
      color: $gray--darken;
    }
  }

  &__point_empty { // непройденный пункт
    background-color: $gray;
  }

  &__point_fill { // пройденный пункт
    background-color: $gray--dark;
  }

  // Цветовые темы для пунктов
  &_theme_cinnabar &__point_fill {
    background-color: $cinnabar;
  }

  &_theme_blue &__point_fill {
    background-color: $fountain-blue;
  }

  &__points { // контейнер для пунктов
    position: absolute;
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: inherit;
  }
}
