//- Создает элемент кнопки

mixin button(options)

  //- Принимает:
  //-   options.text        {string}      - надпись кнопки
  //-   options.size        {string}      - класс-модификатор размера кнопки
  //-   options.theme       {string}      - класс-модификатор цветовой темы кнопки
  //-   options.noOutline   {boolean}     - булево значение, от которого зависит, будет ли к элементу кнопки добавлен
                                            класс-модификатор, убирающий дефолтный outline в активном состоянии
                                            последней
  //- options.animate       {boolean}     - булево значение, от которого зависит, будет ли анимироваться изменение цвета
                                            кнопки при наведении
  //- options.viewType      {boolean}     - строка, от значения которой зависит, какой класс-модификатор,
                                            отвечающий за внешний вид кнопки, будет добавлен к элементу
                                            Возможные значения: "events", "form"
  //- options.type          {string}      - Тип кнопки: "submit", "button", "reset". По умолчанию "submit"
  //- Вызов:
        +button                                                     - белая кнопка среднего размера
        +button({size: "small", theme: "blue"})                     - маленькая кнопка синего цвета
        +button({size: "sm", theme: "blue"})                        - маленькая кнопка синего цвета
        +button({theme: "cinnabar"})(class="buttons-block__button") - кнопка среднего размера цвета "cinnabar"
                                                                      К кнопке примиксован класс элемента
                                                                      buttons-block__button блока buttons-block
                                                                       для задания ей внешней геометрии.
        +button({size: "lg", theme: "cinnabar", noOutline: true})   - большая кнопка цвета "cinnabar" с убранной
                                                                      обводкой
                                                                      в нажатом состоянии кнопки
        +button({size: "large", theme: "blue"})                     - большая кнопка синего цвета

  -
    // Список модификаторов
    var modifiers = "",

    // Объект настроек по умолчанию
    settings = {
      text: "Button",
      size: "",
      theme: "",
      noOutline: false,
      animate: false,
      viewType: ""
    },
    options = options || settings,
    text = options.text || settings.text,
    size = options.size || settings.size,
    theme = options.theme || settings.theme,
    noOutline = options.noOutline || settings.noOutline,
    animate = options.animate || settings.animate,
    viewType = options.viewType || settings.viewType,
    type = options.type;

    if (typeof(size) !== "undefined" && size)
      modifiers += ` button_size_${size}`;

    if (typeof (theme) !== "undefined" && theme)
      modifiers += ` button_theme_${theme}`;

    if (noOutline === true)
      modifiers += ` button_no-outline`;

    if (animate === true)
      modifiers += ` button_animate`;

    if (viewType === "form")
      modifiers += ` button_type_form`;

    if(viewType === "messaging")
      modifiers += ` button_type_messaging`;

    if (viewType === "events")
      modifiers += ` button_type_events`;

  if (attributes.href)
    a.button(class=modifiers)&attributes(attributes)= text
  else
    button.button(class=modifiers, type= type !== "undefined" ? type : "")&attributes(attributes)= text
