.pie-chart {
  fill: none;

  &_size_middle,
  &_size_md {
    width: 6.25rem; // 100px
    height: 6.25rem;
  }

  &_size_large,
  &_size_lg {
    width: 7.5rem; // 120px
    height: 7.5rem;
  }

  &_size_extra-large,
  &_size_xl {
    width: 9.375rem; // 150px
    height: 9.375rem;
  }

  &_size_small,
  &_size_sm {
    width: 4.375rem; // 70px
    height: 4.375rem;
  }

  &_size_extra-small,
  &_size_xs {
    width: 3.125rem; // 50px
    height: 3.125rem;
  }

  &_size_fluid {
    width: 100%;
  }

  &__empty { // элемент circle внутри svg - "пустой" сегмент чарта
    stroke: #e5e5e5;
    stroke-width: 7;
  }

  &__grey { // элемент circle внутри svg - серый сегмент чарта
    stroke: #747474;
    stroke-width: 7;
  }

  &__red { // элемент circle внутри svg - красный сегмент чарта
    stroke: #e75735;
    stroke-width: 7;
  }

  &__blue { // элемент circle внутри svg - голубой сегмент чарта
    stroke: #4eb7a8;
    stroke-width: 7;
  }
}
