.chart-explanation
  span.chart-explanation__pie.chart-explanation__pie_color_cinnabar
  span.chart-explanation__region Russia
.chart-explanation
  span.chart-explanation__pie.chart-explanation__pie_color_blue
  span.chart-explanation__region Ukraine
.chart-explanation
  span.chart-explanation__pie.chart-explanation__pie_color_gray
  span.chart-explanation__region United States