//-

mixin messaging(options)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +messaging("Текст", "some-mod")

  -
    var settings = {
      theme: "",
      username: ""
    },
    // список модификаторов
    modifiers = "",

    options = options || settings,
    theme = options.theme || settings.theme,
    username = options.username || settings.username;

    if (theme === "blue")
      modifiers += " messaging_theme_blue"

    if (theme === "cinnabar")
      modifiers += " messaging_theme_cinnabar"

  .messaging(class=modifiers)&attributes(attributes)= text
    .messaging__header
      h2.messaging__username= username
      .messaging__avatar-wrapper
        img.messaging__avatar(src="../blocks/messaging/img/avatar2.png", alt="avatar")
    .messaging__content
      .messaging__icons
        svg.messaging__icon-chat(width="20", height="21", viewBox="0 0 20 21")
          path(fill="#8e8d8d", d="M5.105-.102h9.93A4.965 4.965 0 0 1 20 4.863v6.207a4.965 4.965 0 0 1-4.965 4.965h-.154c-.528 2.113-.378 4.965-.378 4.965-2.483-.93-4.558-4.17-5.038-4.965h-4.36A4.965 4.965 0 0 1 .139 11.07V4.863A4.965 4.965 0 0 1 5.105-.102z")
        svg.messaging__icon-camera(width="25", height="20", viewBox="0 0 25 20")
          path(fill="#8e8d8d", d="M1.61 3.902h4.024v-1.61c0-.889.72-1.61 1.61-1.61h9.658c.89 0 1.61.721 1.61 1.61v1.61h4.025c.889 0 1.61.721 1.61 1.61V18.39c0 .89-.721 1.61-1.61 1.61H1.61A1.61 1.61 0 0 1 0 18.39V5.512c0-.889.72-1.61 1.61-1.61zm5.03 7.848a5.433 5.433 0 1 0 10.866 0 5.433 5.433 0 0 0-10.866 0zm5.433-3.42a3.42 3.42 0 1 1 0 6.84 3.42 3.42 0 0 1 0-6.84z")
      .messaging__post-wrapper
        p.messaging__post.messaging__post_question
          | Hey! So are we cool to meet at the art gallery? Say 8pm
      p.messaging__post
        | Yeah that sounds great. See you then.
      +button({text: "Reply"})

