.messaging {
  width: 18rem;

  &__header {
    position: relative;
    height: 7.1875em;
    background-color: $gray;

    border-radius: 3px 3px 0 0;
    padding-top: 1rem;
    box-sizing: border-box;
  }

  &_theme_blue &__header {
    background: rgb(78, 183, 168);
    background: linear-gradient(180deg, rgba(78, 183, 168, 1) 0%, rgba(78, 183, 168, 1) 70%, rgba(70, 171, 157, 1) 70%, rgba(70, 171, 157, 1) 100%);
  }

  &_theme_cinnabar &__header {
    background-color: $cinnabar;
    background: linear-gradient(180deg, rgba(231,87,53,1) 0%, rgba(231,87,53,1) 70%, rgba(213,76,44,1) 70%, rgba(213,76,44,1) 100%);
  }

  &__username {
    margin: 0;
    font-size: 2.125rem;
    font-family: "Source Sans Pro Light", Arial, sans-serif;
    line-height: 42px;

    color: $color-text-primary;
    font-weight: 300;
    letter-spacing: -1.02px;
    text-align: center;
  }

  &__avatar-wrapper {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;

    width: 5.875rem;
    height: 5.875rem;
    border-radius: 50%;
    background-color: $gray;

    justify-content: center;
    align-items: center;
    transform: translate(-50%, 50%);
  }

  &__avatar {
    width: 100%;
    max-width: 5.25rem;
    height: auto;
  }

  &__content {
    box-sizing: border-box;
    background-color: $gray--light;
    display: flex;

    flex-direction: column;
    border-radius: 0 0 3px 3px;

    padding: {
      top: 1.375rem; // 22px / 16px
      right: 1.375rem; // 22px / 16px
      bottom: 1.8125rem; // 29px / 16px
      left: 1.375rem; // 22px / 16px
    }

  }

  &__icons {
    display: flex;
    justify-content: space-between;
  }

  &__icon-chat {
    margin-left: .3125rem;
  }

  &__icon-camera {
    margin-right: .3125rem;
  }

  &__post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: {
      top: 15px;
      bottom: 20px;
    }
  }

  &__post {
    margin: 0;
    font-size: .8125rem;
    font-family: "Lato", Arial, sans-serif;

    line-height: 14px;
    letter-spacing: .63px;

    &_question {
      color: $gray--darken;
      border-radius: 7px;
      background-color: $color-text-primary;

      padding: {
        top: 1.0625rem; // 17px / 16px
        right: 2.0625rem; // 33px / 16px
        bottom: 1.375rem; // 22px / 16px
        left: 1.25rem; // 20px / 16px
      }
    }

    &_answer {
      color: $gray--darken;
      border: 3px solid $color-text-primary;
      border-radius: 5px;
      box-sizing: border-box;

      background-color: $gray;
      margin-bottom: 18px;

      padding: {
        top: .875rem; // 14px / 16px
        right: 1.375rem; // 22px / 16px
        bottom: 2.1875rem; // 35px / 16px
        left: 1.125rem; // 18px / 16px
      }
    }
  }

  & .button {
    border-width: 0;
    color: $color-text-primary;

    &:active {
      box-shadow: none;
    }
  }

  &_theme_blue .button {
    background-color: $fountain-blue;
    box-shadow: 0 3px $fountain-blue--dark;
  }

  &_theme_cinnabar .button {
    background-color: $cinnabar;
    box-shadow: 0 3px $cinnabar--dark;
  }
}
