//- Создает поле ввода

mixin textarea(options)
  //- Принимает:
  //-   options.placeholder    {string} - текст-заполнитель внутри поля ввода
  //-   options.name    			 {string} - текст-заполнитель внутри поля ввода

  //- Вызов:
        +textarea("Your message")

  -
    //- Объект настроек по умолчанию
    var settings = {
      placeholder: "",
      name: ""
    },

    options = options || settings,
    placeholder = options.placeholder || settings.placeholder,
    name = options.name || settings.name;

  textarea.textarea(placeholder=placeholder, name=name)&attributes(attributes)