//- Создает поле ввода

mixin textarea(placeholder = "Your Message")
	//- Принимает:
	//-   placeholder    {string} - текст-заполнитель внутри поля ввода
	//- Вызов:
				+textarea("Your message")

	textarea.textarea(placeholder= placeholder)&attributes(attributes)