.elements-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  align-items: center;
  flex-wrap: wrap;

  @media (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
  }

  &__button {
    margin-top: 10px;
  }

  &__slider {
    margin-top: 35px;
  }
}

