//- Создает компонент calendar

mixin calendar(options)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +calendar("Текст", "some-mod")

  //- Объект настроек по умолчанию
  -
    var settings = {
      theme: ""
    },
    options = options || settings,
    theme = options.theme || settings.theme,

    //- Список модификаторов
    modifiers = "";

    if (theme === "blue")
      modifiers += " datepicker-here_theme_blue";

  .datepicker-here(class=modifiers)&attributes(attributes)
    .datepicker-header
