//-

mixin calendar(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +calendar("Текст", "some-mod")

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' calendar_' + modsList[i].trim();
      }
    }

  .calendar(class=allMods)&attributes(attributes)= text
    block
