//-

mixin calendar()

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +calendar("Текст", "some-mod")

  .datepicker-here(class=allMods)&attributes(attributes)
    .datepicker-header
