@import 'datepicker-config';

/* -------------------------------------------------
    Navigation
   ------------------------------------------------- */

.datepicker--nav {
  display: flex;
  padding: $datepickerPadding;
  font-size: 24px;
  font-family: 'Lato Light', Arial, sans-serif;
  line-height: 26px;
  color: $white;
  justify-content: space-between;
  //border-bottom: 1px solid map_get($datepickerBorderColor, nav);
  min-height: $datepickerNavigationHeight;
  background-color: #d54c2c;
  letter-spacing: -.72px;

  .-only-timepicker- & {
    display: none;
  }
}

.datepicker-here_theme_blue .datepicker--nav {
  background-color: #46ab9d;
}

.datepicker--nav-title,
.datepicker--nav-action {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.datepicker--nav-action {
  width: 30px;
  user-select: none;

  &:hover {
    background: $cinnabar;
  }

  .datepicker-here_theme_blue &:hover {
    background-color: $fountain-blue;
  }

  &.-disabled- {
    visibility: hidden;
  }
}

.datepicker--nav-title {
  padding: 0 8px;
  border-radius: $datepickerBorderRadius;

  i {
    font-style: normal;
    color: map_get($datepickerTextColor, navArrows);
    margin-left: 5px;
  }

  &:hover {
    background: $cinnabar;
  }

  .datepicker-here_theme_blue &:hover {
    background-color: $fountain-blue;
  }

  &.-disabled- {
    cursor: default;
    background: none;
  }
}

//  Buttons
// -------------------------------------------------

.datepicker--buttons {
  display: flex;
  border-radius: 0 0 3px 3px;
  //padding: $datepickerPadding;
  border-top: 1px solid map_get($datepickerBorderColor, nav);
  background-color: #e5e5e5;
  margin-top: .5px;
  padding-left: 21px;
  box-sizing: border-box;
}

.datepicker--button {
  display: inline-flex;
  height: 49px;
  font-size: 13px;
  font-family: Lato, Arial, sans-serif;
  color: #868686;
  border-radius: $datepickerBorderRadius;
  cursor: pointer;
  flex: 1;
  //justify-content: center;
  align-items: center;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .65px;

  &:hover {
    color: map_get($datepickerTextColor, common);
  }
}