.title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-family: 'Lato Black';

  color: $black--light;
  text-align: center;
  font-weight: 400;

  text-transform: uppercase;
  letter-spacing: 2px;

  @include for-tablet-landscape-down() {
    margin-top: 68px;
  }
}
