.title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 1.125rem;
  font-family: 'Lato Black', Arial, sans-serif;

  color: $black--light;
  text-align: center;
  font-weight: 400;

  text-transform: uppercase;
  letter-spacing: 2px;
}
