.title {
  margin: 0;
  font-size: 18px;
  font-family: "Lato Black";

  line-height: 42px;
  color: $color-title;
  text-align: center;

  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
}
