.content {
  width: 90%;
  margin: 10px auto;
  max-width: 700px;
  //min-width: 320px;

  padding: 71px 5%;
  box-shadow: 0 0 20px $gray;
  background-color: $color-text-primary;

  &__title {
    margin-bottom: 30px;

    &_type_form {
      margin-top: 37px;
    }
  }
}