.textarea {
  height: 88px;
  padding: .625rem 0 0 .875rem;
  font-size: .875rem;
  font-family: 'Source Sans Pro', sans-serif;

  color: $gray--darken;
  letter-spacing: .14px;
  box-sizing: border-box;
  background-color: $gray;

  border-width: 0;
  border-radius: 4px;
}