.percentage-chart {
  width: 6.25rem; // 100px
  height: 6.25rem;

  &_size_large,
  &_size_lg {
    width: 7.5rem; // 120px
    height: 7.5rem;
  }

  &_size_extra-large,
  &_size_xl {
    width: 9.375rem; // 150px
    height: 9.375rem;
  }

  &_size_small,
  &_size_sm {
    width: 4.375rem; // 70px
    height: 4.375rem;
  }

  &_size_extra-small,
  &_size_xs {
    width: 3.125rem; // 50px
    height: 3.125rem;
  }

  &__value { // элементе circle
    stroke: $black;

    // Цветовые темы
    &_theme_blue {
      stroke: $fountain-blue;
    }

    &_theme_cinnabar {
      stroke: $cinnabar;
    }
  }

  &__text { // элемент text внутри svg
    font-size: .9rem;
    font-family: 'Lato Light', Arial, sans-serif;
    fill: #a9a9a9;
    text-anchor: middle;

    letter-spacing: -1px;
  }
}
