.arrow-button {
  position: relative;
  width: 3.125rem; // 50px
  height: 3.125rem; // 50px
  padding: 0;

  border-radius: 50%;
  box-sizing: border-box;
  border-style: solid;
  border-width: .1875rem; // 3px
  
  background-color: white;
  cursor: pointer;
  overflow: hidden; // для ripple-effect

  &_size_large,
  &_size_lg {
    width: 3.75rem; // 60px
    height: 3.75rem; // 60px
  }

  &_size_small,
  &_size_sm {
    width: 1.875rem; // 35px
    height: 1.875rem; // 35px
    border-width: .125rem;
  }

  &__arrow { // стрелка внутри кнопки
    position: relative;
    display: block;
    width: 100%;
    height: 100%;

    &::before,
    &::after { // верхняя и нижняя части стрелки
      content: "";
      position: absolute;
      left: 27%;
      width: 38%;

      height: 8%;
      background-color: $black;
    }

    &::before { // верхняя часть стрелки
      top: 34%;
      border-radius: 0 1px 1px 1px;
      transform: rotate(-45deg);
    }

    &::after { // нижняя часть стрелки
      top: 56%;
      border-radius: 1px 1px 1px 0;
      transform: rotate(45deg);
    }
  }

  &:disabled {
    background-color: $grey;
    border-color: $grey;
    cursor: not-allowed;
  }

  // Переопределение цвета у отключенной стрелки
  &:disabled &__arrow::before,
  &:disabled &__arrow::after {
    background-color: $white;
  }

  // Направления стрелки
  &_direction_right &__arrow {
    transform: rotate(180deg);
  }

  &_direction_down &__arrow {
    transform: rotate(-90deg);
  }

  &_direction_up &__arrow {
    transform: rotate(90deg);
  }

  &_no-outline {
    outline: none;
  }

  // Цветовые темы
  &_theme_blue {
    border-color: $fountain-blue;
  }

  &_theme_cinnabar {
    border-color: $cinnabar;
  }

  &_theme_blue &__arrow::before,
  &_theme_blue &__arrow::after {
    background-color: $fountain-blue;
  }

  &_theme_blue:hover:not(:disabled) {
    background-color: $fountain-blue;
  }

  &_theme_blue:hover &__arrow::before,
  &_theme_blue:hover &__arrow::after {
    background-color: $white;
  }

  &_theme_cinnabar &__arrow::before,
  &_theme_cinnabar &__arrow::after {
    background-color: $cinnabar;
  }

  &_theme_cinnabar:hover:not(:disabled) {
    background-color: $cinnabar;
  }

  &_theme_cinnabar:hover &__arrow::before,
  &_theme_cinnabar:hover &__arrow::after {
    background-color: $white;
  }

  // Анимация кнопки
  &_animate:not(:disabled),
  &_animate &__arrow::before,
  &_animate &__arrow::after {
    transition: background-color .5s;
  }
}
