mixin arrow-button(options)

  //- Принимает:
    //-   options.size        {string}  - класс-модификатор размера кнопки: "lg" || "large", "sm" || "small"
    //-   options.theme       {string}  - класс-модификатор цветовой темы кнопки
    //-   options.direction   {string}  - класс-модификатор направления стрелки: влево, вправо, вверх, вниз
    //-   options.noOutline   {boolean} - булево значение, от которого зависит, будет ли к элементу кнопки
                                         добавлен класс-модификатор, убирающий дефолтный outline в активном
                                         состоянии последней
    //-   options.animate     {boolean} - булево значение, от которого зависит, будет ли анимироваться изменение
                                         цвета кнопки
    //-   options.ripple      {boolean} - булево значение, от которого зависит, будет ли на кнопке воспроизводиться
                                         ripple-effect
    //-   options.disable     {boolean} - булево значение, блокирующее доступ и изменение кнопки

    //- Вызов:
          +arrow-button       - дефолтная кнопка белого цвета размером 50х50 пикселей

          +arrow-button({     - кнопка голубого цвета маленького размера, с отключенной
            noOutline: true,    обводкой, анимацией изменения цвета и воспроизведением ripple-effect при клике
            size: "sm",
            theme: "blue",
            animate: true,
            ripple: true
          })

          +arrow-button({     - кнопка вправо цвета киноварь большого размера, с отключенной обводкой, анимацией
            size: "lg",         изменения цвета и воспроизведением ripple-effect при клике
            noOutline: true,
            direction: "right",
            theme: "cinnabar",
            animate: true,
            ripple: true
          })

  -
    // Список модификаторов
    var modifiers = "",

    // Объект настроек по умолчанию
    settings = {
      theme: "",
      direction: "",
      noOutline: false,
      animate: false,
      ripple: false,
      disable: false
    },

    options = options || settings,
    theme = options.theme || settings.theme,
    direction = options.direction || settings.direction,
    noOutline = options.noOutline || settings.noOutline,
    animate = options.animate || settings.animate,
    ripple = options.ripple || settings.ripple,
    disable = options.disable || settings.disable;

  -
    if (typeof (theme) !== "undefined" && theme)
      modifiers += ` arrow-button_theme_${theme}`

    if (typeof (direction) !== "undefined" && direction)
      modifiers += ` arrow-button_direction_${direction}`

    if (noOutline === true)
      modifiers += ` arrow-button_no-outline`

    if (animate === true)
      modifiers += ` arrow-button_animate`

    if (ripple === true)
      modifiers += ` arrow-button_ripple`

    if (options.size === "large")
      modifiers += " arrow-button_size_large"

    if (options.size === "lg")
      modifiers += " arrow-button_size_lg"

    if (options.size === "small")
      modifiers += " arrow-button_size_small"

    if (options.size === "sm")
      modifiers += " arrow-button_size_sm"

  button.arrow-button(class=modifiers, disabled=disable)&attributes(attributes)
    span.arrow-button__arrow
