include ../blocks/title/title
include ../blocks/button/button
include ../blocks/button-wrapper/button-wrapper
include ../blocks/arrow-button/arrow-button
include ../blocks/percentage-chart/percentage-chart
include ../blocks/pie-chart/pie-chart