extends  ../blocks/block.templates/index.template.pug

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title Главная

block content
  main.content
    a(href="uikit.html") Перейти в uikit