extends  ../components/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

append style
  include ../blocks/favicons/favicons

block title
  title Home

block content
  body.page
    include ../blocks/header/header
    include ../blocks/rotator/rotator

    .wrapper
      main.page__content
        .page__blocks-wrapper
          img(src="../img/content1.png", alt="extension screenshot example")

          .page__description.page__description_pos_right
            .page__title
              +title("Usability and settings")
            p.page__description-text The ability to change the size, transparency and position of the buttons in the browser window
            +button({
              text: "Try now",
              theme: "blue",
              animate: true
            })(href="https://chrome.google.com/webstore/detail/scroll-buttons/blkcalljbilnpflcagdojnldcdifnndp")

        .page__blocks-wrapper.page__blocks-wrapper_justify_between
          .page__description
            .page__title
              +title("Distribution of product users by geographic region")
            +chart-explanation("Russia", "blue")
            +chart-explanation("Ukraine", "cinnabar")
            +chart-explanation("United States", "gray")

          .page__pie-chart
            .page__pie-chart-inner
              +pie-chart({size: "fluid"})


        .page__blocks-wrapper
          include ../blocks/percentages/percentages

          .page__description.page__description_pos_right
            .page__title
              +title("Distribution of product users by operating system (%)")
            +chart-explanation("Windows", "blue")
            +chart-explanation("Linux", "cinnabar")

        .page__blocks-wrapper.page__blocks-wrapper_justify_between
          .page__description
            .page__title
              +title("Select a button imgage")
            p.page__description-text At your choice, there are 40 images of buttons.
            +button({
              text: "Download",
              theme: "cinnabar",
              animate: true
            })(href="https://chrome.google.com/webstore/detail/scroll-buttons/blkcalljbilnpflcagdojnldcdifnndp")

          img(src="../img/content2.jpg", alt="extension screenshot example")


        .page__blocks-wrapper
          include ../blocks/steps/steps

          .page__description.page__description_pos_right
            .page__title
              +title("Four simple steps to get an extension")
            p.page__description-text To do this, go to the chrome extension store
            +button({
              text: "Do it...",
              theme: "cinnabar",
              animate: true
            })(href="https://chrome.google.com/webstore/detail/scroll-buttons/blkcalljbilnpflcagdojnldcdifnndp")

        include ../blocks/videoplayer/videoplayer

      include ../blocks/footer/footer
    include ../blocks/overlay/overlay

    .page__popup-messaging
      +messaging({
        theme: "blue",
        username: "Encrypticus",
        avatar: "../img/admin.jpg",
        question: "Hey! So are we cool to meet at the art gallery? Say 8pm",
        answer: "Yeah that sounds great. See you then.",
        fluid: true
      })

    script(src="index.js")