extends  ../blocks/block.templates/index.template.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    +standard-buttons("small, big, medium")
