extends  ../blocks/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    section
      +title("Standard buttons")
      .elements-block
        +button({size: "sm", theme: "blue"})(class="elements-block__button")
        +button({theme: "blue"})(class="elements-block__button")

        +button({
          size: "lg", theme: "blue",
          noOutline: true, animate: true
        })(class="elements-block__button")

        +button({theme: "blue"})(class="elements-block__button")
        +button({size: "sm", theme: "blue"})(class="elements-block__button")

      .elements-block
        +button({size: "sm", theme: "cinnabar"})(class="elements-block__button")
        +button({theme: "cinnabar"})(class="elements-block__button")

        +button({
          size: "lg", theme: "cinnabar",
          noOutline: true, animate: true
        })(class="elements-block__button")

        +button({theme: "cinnabar"})(class="elements-block__button")
        +button({size: "sm", theme: "cinnabar"})(class="elements-block__button")

    section
      +title("Arrow buttons")
      .elements-block
        +button-wrapper("15.85714285714286%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })

          +arrow-button({
            size: "45%",
            noOutline: true,
            direction: "right",
            theme: "blue",
            animate: true,
            ripple: true
          })

        +button-wrapper("18.71428571428571%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "cinnabar",
            disable: true
          })

          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "cinnabar",
            disable: true
          })

        +button-wrapper("24.42857142857143%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })

          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })

        +button-wrapper("18.71428571428571%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "cinnabar"
          })

          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "cinnabar"
          })

        +button-wrapper("15.85714285714286%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            direction: "up",
            ripple: true
          })

          +arrow-button({
            size: "45%",
            noOutline: true,
            direction: "down",
            theme: "blue",
            ripple: true
          })


    section
      +title("Percentage/pie chart")
      .elements-block
        +percentage-chart({theme: "cinnabar"})
        +percentage-chart({percent: 38, theme: "cinnabar"})
        +percentage-chart({percent: 62, theme: "blue"})
        +percentage-chart({percent: 89, theme: "cinnabar"})

      .elements-block
        +pie-chart({greySlice: 11, redSlice: 26, blueSlice: 30})
        +pie-chart({greySlice: 33, redSlice: 48, blueSlice: 15})
        +pie-chart({size:"10%", greySlice: 15, redSlice: 10, blueSlice: 55})
        +pie-chart({greySlice: 25, redSlice: 25, blueSlice: 50})

    section
      +title("Sliders")
      .elements-block
        +slider({
          theme: "cinnabar",
          tooltip: "always"
        })(class="elements-block__slider")

        +slider({
          theme: "blue",
          ticks:[0, 25, 50, 75, 100],
          step: 25,
          selection: "before"
        })(class="elements-block__slider")

    section
      +title("Stages")
      +stages({
        stages: 5,
        completed: 3,
        theme: "cinnabar",
      })(style="margin-bottom: 80px;", class="elements-block__stages")

      +stages({
        stages: 7,
        completed: 5,
        theme: "blue",
        width: "70%",
        fontSize: ".75rem"
      })(class="elements-block__stages")

    section.form-elements
      +title("Form elements")
      .form-elements__inner
        .form-elements__left-col
          +text-field({
            placeholder: "Your Name"
          })(class="form-elements__text-field")

          +form-tooltip({
            type: "error",
            width: "21.71428571428571%"
          })(class="form-elements__tooltip")

          +text-field({
            placeholder: "Your Email"
          })
          +form-tooltip({width: "21.71428571428571%"})(class="form-elements__tooltip")

        .form-elements__right-col




  script(src="scripts.js")
