extends  ../blocks/block.templates/index.template.pug

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    h1 Набор элементов интерфейса
    a(href="index.html") На главную