extends  ../blocks/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    section.page-block
      +title("Standard buttons")
      .elements-block
        .elements-block__button
          +button({size: "sm", theme: "blue"})

        .elements-block__button
          +button({theme: "blue"})

        .elements-block__button
          +button({
            size: "lg", noOutline: true,
            animate: true, theme: "blue"
          })

        .elements-block__button
          +button({theme: "blue"})

        .elements-block__button
          +button({size: "sm", theme: "blue"})

      .elements-block
        .elements-block__button
          +button({size: "sm", theme: "cinnabar"})

        .elements-block__button
          +button({theme: "cinnabar"})

        .elements-block__button
          +button({
            size: "lg", theme: "cinnabar",
            noOutline: true, animate: true
          })

        .elements-block__button
          +button({theme: "cinnabar"})

        .elements-block__button
          +button({size: "sm", theme: "cinnabar"})

    section.page-block
      +title("Arrow buttons")
      .elements-block
        .elements-block__button-wrapper
          +arrow-button({
            size: "sm",
            noOutline: true,
            theme: "blue",
            animate: true,
            ripple: true
          })

          .elements-block__arrow-button
            +arrow-button({
              size: "sm",
              noOutline: true,
              direction: "right",
              theme: "blue",
              animate: true,
              ripple: true
            })

        .elements-block__button-wrapper
          +arrow-button({
            noOutline: true,
            theme: "cinnabar",
            disable: true
          })

          .elements-block__arrow-button
            +arrow-button({
              noOutline: true, direction: "right",
              theme: "cinnabar",
              disable: true
            })

        .elements-block__button-wrapper
          +arrow-button({
            size: "lg",
            noOutline: true,
            theme: "blue",
            animate: true,
            ripple: true
          })

          .elements-block__arrow-button
            +arrow-button({
              size: "lg",
              noOutline: true,
              direction: "right",
              theme: "blue",
              animate: true,
              ripple: true
            })

        .elements-block__button-wrapper
          +arrow-button({
            noOutline: true,
            theme: "cinnabar"
          })

          .elements-block__arrow-button
            +arrow-button({
              noOutline: true, direction: "right",
              theme: "cinnabar"
            })

        .elements-block__button-wrapper
          +arrow-button({
            size: "small",
            noOutline: true,
            theme: "blue",
            direction: "up",
            ripple: true
          })

          .elements-block__arrow-button
            +arrow-button({
              size: "small",
              noOutline: true,
              direction: "down",
              theme: "blue",
              ripple: true
            })

    section.page-block
      +title("Percentage/pie chart")
      .elements-block
        .elements-block__chart
          +percentage-chart({theme: "cinnabar"})
        .elements-block__chart
          +percentage-chart({percent: 38, theme: "cinnabar"})
        .elements-block__chart
          +percentage-chart({percent: 62, theme: "cinnabar"})
        .elements-block__chart
          +percentage-chart({percent: 89, theme: "cinnabar"})

      .elements-block
        .elements-block__chart
          +percentage-chart({percent: 85, theme: "blue", size: "xl"})
        .elements-block__chart
          +percentage-chart({percent: 85, theme: "blue", size: "lg"})
        .elements-block__chart
          +percentage-chart({percent: 85, theme: "blue", size: "sm"})
        .elements-block__chart
          +percentage-chart({percent: 100, theme: "blue", size: "xs"})

      .elements-block
        .elements-block__chart
          +pie-chart({
            greySlice: 11,
            redSlice: 26,
            blueSlice: 30
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 33,
            redSlice: 48,
            blueSlice: 15
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 15,
            redSlice: 10,
            blueSlice: 55
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 25,
            redSlice: 25,
            blueSlice: 50
          })

      .elements-block
        .elements-block__chart
          +pie-chart({
            greySlice: 25,
            redSlice: 25,
            blueSlice: 50,
            size: "sm"
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 25,
            redSlice: 25,
            blueSlice: 50,
            size: "lg"
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 25,
            redSlice: 25,
            blueSlice: 50,
            size: "xs"
          })

        .elements-block__chart
          +pie-chart({
            greySlice: 25,
            redSlice: 25,
            blueSlice: 50,
            size: "xl"
          })

    section.page-block
      +title("Sliders")
      .elements-block
        .elements-block__slider
          +slider({
            theme: "cinnabar",
            tooltip: "always"
          })

        .elements-block__slider
          +slider({
            theme: "blue",
            ticks:[0, 25, 50, 75, 100],
            step: 25,
            selection: "before"
          })

    section.page-block
      +title("Stages")
      .page-block__stages
        +stages({
          stages: 5,
          completed: 3,
          theme: "cinnabar",
        })

      .page-block__stages
        +stages({
          stages: 7,
          completed: 5,
          theme: "blue"
        })

      .page-block__stages
        +stages({stages: 10})

    section.form-elements
      +title("Form elements")
      .form-elements__inner
        .form-elements__left-col
          div
            +text-field({
              placeholder: "Your Name",
              width: "59.42857142857143100%"
            })(class="form-elements__text-field")

            +form-tooltip({
              type: "error",
              width: "20.57142857142857%"
            })(class="form-elements__tooltip")

          div
            +text-field({
              placeholder: "Your Email",
              width: "59.42857142857143100%"
            })(class="form-elements__text-field")
            +form-tooltip({width: "20.57142857142857%"})(class="form-elements__tooltip")

          div
            +textarea({width: "82.28571428571429%"})

          div
            +button({text: "Submit", type: "form", theme: "blue"})

          +title("Search / Drop down")(style="margin-top: 68px")
          +search-field({placeholder: "Search", width: "82.28571428571429%"})
          +search-field({placeholder: "Search", width: "82.28571428571429%",
            error: true})(style="margin-top: 10px")

          +drop-down({
            width: "82.28571428571429%",
            options: ["option1", "option2", "option3", "option4", "option5", "option6"],
            noOutline: true
          })(class="form-elements__drop-down")

        .form-elements__right-col
          +title("Toggles")
          +toggle({id: "toggle1"})
          +toggle({check: true, id: "toggle2"})

          +title("Tick boxes")(style="margin-top: 30px")
          +tick-box({id: "tick1", check: true})
          +tick-box({id: "tick2"})

          +title("User profile")(style="margin-top: 87px")
          +user-profile({job: "ux designer"})(style="margin-bottom: 10px")
          +user-profile({
            name: "Sarah Brown",
            job: "developer",
            avatar: "../blocks/user-profile/img/avatar2.png",
            themeBlue: true
          })

    section.page-block
      +title("News & events")
      +news({width: "41.14285714285714%"})
      +news({
        width: "41.14285714285714%",
        theme: "blue",
        src: "../blocks/news/img/events.png",
        type: "events",
        title: "This is the title",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      })
      +news({width: "41.14285714285714%", theme: "cinnabar"})
      +news({
        width: "41.14285714285714%",
        theme: "cinnabar",
        src: "../blocks/news/img/events.png",
        type: "events",
        title: "This is the title",
        text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
      })

    section.page-block
      +title("Location")
      .location-wrapper
        +location({
          address: "1259  CALIFORNIA ST San Francisco, CA"
        })

    section.page-block
      +title("Calendar")
      .flex-wrapper
        +calendar()(class="flex-wrapper__calendar")
        +calendar("blue")

    section.page-block
      +title("Messaging")
      .flex-wrapper
        +messaging({
          theme: "blue",
          username: "Sarah Brown",
          question: "Hey! So are we cool to meet at the art gallery? Say 8pm",
          answer: "Yeah that sounds great. See you then."
        })(class="flex-wrapper__messaging")
        +messaging({
          theme: "cinnabar",
          username: "Sarah Brown",
          question: "Hey! So are we cool to meet at the art gallery? Say 8pm ",
          answer: "Yeah that sounds great. See you then."
        })

    section.page-block
      +title("Video")
      +air-videoplayer({theme: "blue", width: "84.85714285714286%"})
      +air-videoplayer({theme: "cinnabar", width: "84.85714285714286%"})

  script(src="https://api-maps.yandex.ru/2.1/?apikey=2ac75161-4165-4271-8540-e821eb701ba3&lang=en_US", type="text/javascript")
  script(src="scripts.js")
