extends  ../blocks/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    section
      +title("Standard buttons")
      +button("Button")



  script(src="scripts.js")
