extends  ../blocks/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    section
      +title("Standard buttons")
      .buttons-block
        +button({size: "sm", theme: "blue"})(class="buttons-block__button")
        +button({theme: "blue"})(class="buttons-block__button")

        +button({
          size: "lg", theme: "blue",
          noOutline: true
        })(class="buttons-block__button")

        +button({theme: "blue"})(class="buttons-block__button")
        +button({size: "sm", theme: "blue"})(class="buttons-block__button")

      .buttons-block
        +button({size: "sm", theme: "cinnabar"})(class="buttons-block__button")
        +button({theme: "cinnabar"})(class="buttons-block__button")

        +button({
          size: "lg", theme: "cinnabar",
          noOutline: true
        })(class="buttons-block__button")

        +button({theme: "cinnabar"})(class="buttons-block__button")
        +button({size: "sm", theme: "cinnabar"})(class="buttons-block__button")



  script(src="scripts.js")
