extends  ../blocks/layout/layout.pug
include includes

block keywords
  meta(name="keywords", content="")

block description
  meta(name="description" content="")

block title
  title UiKit

block content
  main.content
    section
      +title("Standard buttons")
      .elements-block
        +button({size: "sm", theme: "blue"})(class="elements-block__button")
        +button({theme: "blue"})(class="elements-block__button")

        +button({
          size: "lg", theme: "blue",
          noOutline: true, animate: true
        })(class="elements-block__button")

        +button({theme: "blue"})(class="elements-block__button")
        +button({size: "sm", theme: "blue"})(class="elements-block__button")

      .elements-block
        +button({size: "sm", theme: "cinnabar"})(class="elements-block__button")
        +button({theme: "cinnabar"})(class="elements-block__button")

        +button({
          size: "lg", theme: "cinnabar",
          noOutline: true, animate: true
        })(class="elements-block__button")

        +button({theme: "cinnabar"})(class="elements-block__button")
        +button({size: "sm", theme: "cinnabar"})(class="elements-block__button")

    section
      +title("Arrow buttons")
      .elements-block
        +button-wrapper("15.85714285714286%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })
          +arrow-button({
            size: "45%",
            noOutline: true,
            direction: "right",
            theme: "blue",
            animate: true,
            ripple: true
          })
        +button-wrapper("18.71428571428571%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "cinnabar",
            disable: true
          })
          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "cinnabar",
            disable: true
          })
        +button-wrapper("24.42857142857143%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })
          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "blue",
            animate: true,
            ripple: true
          })

        +button-wrapper("18.71428571428571%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "cinnabar"
          })
          +arrow-button({
            noOutline: true, direction: "right",
            size: "45%",
            theme: "cinnabar"
          })

        +button-wrapper("15.85714285714286%")
          +arrow-button({
            noOutline: true,
            size: "45%",
            theme: "blue",
            direction: "up",
            ripple: true
          })
          +arrow-button({
            size: "45%",
            noOutline: true,
            direction: "down",
            theme: "blue",
            ripple: true
          })


    section
      +title("Percentage/pie chart")
      .elements-block
        +percentage-chart({theme: "cinnabar", size: "14.28571428571429%"})
        +percentage-chart({percent: 38, theme: "cinnabar", size: "14.28571428571429%"})
        +percentage-chart({percent: 62, theme: "blue", size: "14.28571428571429%"})
        +percentage-chart({percent: 89, theme: "cinnabar", size: "14.28571428571429%"})
      .elements-block
        +pie-chart({size:"14.28571428571429%", greySlice: 11, redSlice: 26, blueSlice: 30})
        +pie-chart({size:"17%", greySlice: 33, redSlice: 48, blueSlice: 15})
        +pie-chart({size:"10%", greySlice: 15, redSlice: 10, blueSlice: 55})
        +pie-chart({size:"14.28571428571429%", greySlice: 25, redSlice: 25, blueSlice: 50})

    section
      +title("Sliders")
      .elements-block
        +slider({
          noOutline: true,
          theme: "blue",
          width: "100%",
          max: 1000,
          progress: true,
          label: true,
          output: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "cinnabar",
          width: "100%",
          max: 100,
          value: 40,
          progress: true,
          label: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "blue",
          width: "40%",
          max: 100,
          value: 40,
          progress: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "cinnabar",
          width: "40%",
          max: 100,
          value: 80,
          label: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "cinnabar",
          width: "45%",
          max: 200,
          value: 30,
          progress: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "blue",
          width: "50%",
          max: 300,
          value: 90,
          progress: true,
          label: true
        })(class="elements-block__slider")

        +slider({
          noOutline: true,
          theme: "blue",
          width: "80%",
          max: 3000,
          value: 90
        })(class="elements-block__slider")



  script(src="scripts.js")
