.form-elements {

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__left-col {
    @media (min-width: 700px) {
      width: 50%;
    }
  }

  &__right-col {
    text-align: center;

    @media (min-width: 700px) {
      width: 50%;
    }
  }

  &__text-field {
    margin-bottom: 12px;
    display: inline-block;
    width: 13rem;
  }

  &__textarea {
    margin-bottom: 8px;
    display: inline-block;
    width: 18rem;
  }

  &__search-field {
    margin-bottom: 17px;
    display: inline-block;
    width: 18rem;
  }

  &__button {
    margin-left: 10.75rem; // 172px
  }

  &__tick-box {
    display: inline-block;
    margin-left: 15px;
  }

  &__drop-down {
    display: inline-block;
    width: 18rem;
  }

  &__profile {
    margin-bottom: 10px;
  }
}