.form-elements {

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: 700px) {
      flex-direction: row;
    }
  }

  &__left-col {
    @media (min-width: 700px) {
      width: 50%;
    }
  }

  &__right-col {
    text-align: center;

    @media (min-width: 700px) {
      width: 50%;
    }
  }

  &__text-field {
    margin-bottom: 12px;
    display: inline-block;
    width: 13rem;
  }

  &__drop-down {
    margin-top: 12px;
  }
}