// Стили для pie-chart

.pie-chart {

  &__wrapper { // обертка
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  &__img { // svg-элемент
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
