.drop-down {
  position: relative;
  display: inline-block;
  width: 100%;
  border-radius: 3px;

  background-color: $gray;
  box-sizing: border-box;
  cursor: pointer;

  &:before { // кнопка внути элемента
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 2.0625rem;
    height: 100%;
    background-color: $gray--dark;

    border-radius: 0 3px 3px 0;
    pointer-events: none;
  }

  &_theme_blue:before {
    background-color: $fountain-blue;
  }

  &_theme_cinnabar:before {
    background-color: $cinnabar;
  }

  &:after { // стрелка на кнопке
    content: '';
    position: absolute;
    top: .625rem;
    right: .625rem;

    width: 15px;
    height: 10px;
    background-image: url('blocks/drop-down/img/drop-arrow.svg');

    background-repeat: no-repeat;
    pointer-events: none;
  }

  &__select {
    width: 100%;
    height: 100%;
    font-size: .875rem;
    font-family: 'Source Sans Pro', Arial, sans-serif;

    line-height: .875rem;
    color: $gray--darken;
    border-width: 0;
    padding-top: .4375rem;

    padding-bottom: .4375rem;
    padding-left: .875rem;
    cursor: pointer;
    background-color: transparent;

    appearance: none;
    letter-spacing: .14px;

    &_noOutline {
      outline: none;
    }
  }

  &__option {
    background-color: $gray;
  }
}
