mixin toggle(options)
  //- Объект настроек по умолчанию
  -
    var settings = {
      checked: true,
      id: ""
    },
    options = options || settings,
    id = options.id || settings.id,
    checked = options.checked || settings.checked;
  input.toggle(type="checkbox", id=id, checked=checked)
  label.toggle__label(for=id) On