.news {
  display: flex;
  width: 18rem;
  max-width: 288px;

  min-width: 229px;
  box-sizing: border-box;

  &__preview {
    width: 32.98611111111111%;
    height: auto;
  }

  &__description {
    padding-left: 7.638888888888889%; // 22px;
    background-color: $gray--darken;
    border-radius: 0 3px 3px 0;

    padding-right: 7.857142857142857%;
    padding-top: 7.857142857142857%;
    box-sizing: border-box;
  }

  &_theme_blue &__description {
    background-color: $fountain-blue;
  }

  &_theme_cinnabar &__description {
    background-color: $cinnabar;
  }

  &__title {
    margin: 0;
    font-size: 1.75em; // 28px
    font-family: 'Lato Light', Arial, sans-serif;

    line-height: 1.625rem; // 26px
    color: $color-text-primary;
    font-weight: 300;
  }

  &_type_events &__title {
    font-size: .8125em;
    font-family: Lato, Arial, sans-serif;
    font-weight: 400;

    text-transform: uppercase;
    letter-spacing: .63px;
    line-height: 22px;
  }

  &__date {
    margin: 0;
    font-size: .6875em; // 11px
    font-family: Lato, Arial, sans-serif;
    line-height: 2.25rem; // 36px

    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .55px;
  }

  &_type_events &__date {
    font-size: 4.5625em;
    font-family: 'Lato Light', Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -2.92px;

    margin-top: .5rem; // 8px
    margin-left: -3px;
    margin-bottom: 1.125rem; // 18px
  }

  &_theme_blue .button {
    box-shadow: 0 3px $fountain-blue--dark;
    color: $fountain-blue;
  }

  &_theme_cinnabar .button {
    box-shadow: 0 3px $cinnabar--dark;
    color: $cinnabar;
  }

  &__title-sub {
    font-size: .410958904109589em;
    font-weight: 300;
    line-height: 26px;

    text-transform: none;
    letter-spacing: normal;
    margin-left: .875rem;
  }

  &__text {
    margin: 0;
    font-size: .6875em; // 11px
    font-family: Lato, Arial, sans-serif;

    color: #fff;
    font-weight: 400;
    letter-spacing: .55px;
  }

  &_type_events &__text {
    padding-bottom: 1.1875rem; // 19px;
  }

  .button:active {
    box-shadow: none;
  }
}
