header.page-header
  +site-logo()
    +menu-toggler()
  .page-header__main-nav-wrapper
    .page-header__main-nav
      include ../main-nav/main-nav
      form.page-header__form(action="/")
        +search-field({placeholder: 'Search'})