header.page-header
  include ../site-logo/site-logo
  .page-header__main-nav-wrapper
    .page-header__main-nav
      include ../main-nav/main-nav
      form.page-header__form
        +search-field({placeholder: 'Search'})