header.page-header
  +site-logo()
    +menu-toggler()
  .page-header__main-nav-wrapper.js-visible
    .page-header__main-nav
      include ../main-nav/main-nav
      form.page-header__form.search-form(action="/")
        +search-field({placeholder: 'Search'})