.text-field {

  //padding-top: .3125rem;
  //padding-bottom: .3125rem;
  //padding-left: .875rem;
  //padding-right: 1rem;
  padding: .3125rem 1rem .3125rem .875rem;
  font-size: .875rem;
  font-family: 'Source Sans Pro', Arial, sans-serif;

  line-height: .875rem;
  color: $gray--darken;
  border: none;
  border-radius: 3px;
  min-width: 13rem;
  background-color: $gray;

  font-weight: 400;
  letter-spacing: .14px;
  box-sizing: border-box;
}
