//- Создает текстовое поле

mixin text-field(placeholder = "")

  //- Принимает:
  //-   placeholder    {string} - текст-заполнитель внутри текстого поля
  //- Вызов:
        +text-field("Your email")

  input.text-field( type="text", placeholder=`${placeholder}`)&attributes(attributes)
